@charset "UTF-8";

:root {
    --cor0: #5f2c82;
    --cor1: #49a09d;
}

* {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
    width: 250px;
    height: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.444);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transition: width .3s, height .3s;
    -moz-transition: width .3s, height .3s;
    -ms-transition: width .3s, height .3s;
    -o-transition: width .3s, height .3s;
}

section#login div#imagem {
    display: block;
    background: var(--cor0) url(../imagens/metal.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login div#formulario {
    display: block;
    padding: 10px;
}


