@charset "UTF-8";

@media print {
    header {
        display: none;
    }
}

@media screen and (min-width: 768px){

    nav {
        display: block;
    }

    nav li {
        display: inline-block;
    }

    span#burguer{
        display: none;
    }
}
